@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.poppins-regular {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

/* Common Styles */
.hide{
    visibility: hidden;
}
.display-flex{
    display: flex;
}
.semibold, .nav-link{
    font-size: 1rem;
    font-weight: 600;
    color: #3A3A3A;
}
.common-btn{
    background-color: #E02C6D;
    color: white;
    border: none;
    border-radius: 41px;
    padding: 10px 24px;
    font-size: 1rem;
    font-weight: 700;
    cursor: pointer;
}
.common-btn:hover{
    background-color: #ff0862;
    box-shadow: 2px 5px 10px rgb(98, 94, 94);
}

/* .btn-2{
    background-color: white;
    border: none;
} */
.see-more{
    position: absolute;
    right: 0;
    bottom: -50px;
    text-decoration: none;
    font-size: 1rem;
    font-weight: 700;
    color: rgba(224, 44, 109, 0.87);
}

/* Colors */
.color-1{
    color: #3A3A3A;
}
.color-2{

}

/* Header Section: Navbar */
.navbar{
    max-width: 1200px;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
}
.brand-text{
    font-size: 1.5rem;
    font-weight: 700;
}
.nav-links li{
    list-style: none;
    margin-right: 34px;
}
.nav-links .nav-link{
    text-decoration: none;
    color: #3A3A3A;
}

/* Header Section: Hero */
.hero{
    max-width: 1155px;
    margin: 0 auto;
    gap: 8.1rem;
    /* border: 1px solid red; */
    padding: 0 20px;
}
.hero-text{
    /* border: 1px solid steelblue; */
    width: 582px;
    align-content: center;
}
.hero-image{
    /* border: 1px solid blue; */
    width: 475px;
    position: relative;
}
/* Image Layering Styles */
.hologram{
    width: 475px;
    position: absolute;
    z-index: 1;
}
.camera{
    width: 440px;
    position: relative;
    top: 30px;
    z-index: 2;
}
/* Hero Text Part */
.hero-title{
    width: 36.37rem;
    font-size: 3.25rem;
    font-weight: 700;
    margin-bottom: 16px;
}

/* Sponsors Section */
.sponsors-container{
    /* border: 1px solid tomato; */
}
.sponsors{
    border: 1px solid rgba(211, 211, 211, 0.432);
    max-width: 1100px;
    margin: 0 auto;
    margin-top: 100px;
    padding: 35px 60px;

    /* display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 61px; */
}
.sponsors img{
    margin-right: 61px;
}

/* Cards Section */
.cards-section{
    margin-top: 100px;
    text-align: center;
}
.cards-section h2{
    margin-bottom: 30px;
}
.cards-container{
    /* border: 1px solid salmon; */
    max-width: 1047px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    position: relative;
}
.card{
    margin: 0 auto;
    /* border: 1px solid black; */
    width: 329px;
    text-align: center;
    padding: 17px 0;
    border-radius: 5px;
    box-shadow: 0 0 40px 0 rgba(0, 0, 0, 0.15);
}
.card img{
    border-radius: 5px;
    margin-bottom: 16px;
}

.card-title, .card-price, .card-rating, .card-description{
    text-align: left;
    padding-left: 14px;
}
.card-title{
    margin: 0;
    font-size: 1.75rem;
    font-weight: 500;
    color: #18191F;
}
.card-price{
    margin-top: 6px;
    margin-bottom: 0;
    font-size: 1.5rem;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.87);
}
.card-rating{
    margin: 0;
    font-size: 0.87rem;
    font-weight: 700;
    color: rgba(94, 99, 102, 1);
}
.card-description{
    margin: 0;
    font-size: 0.87rem;
    font-weight: 700;
    color: rgba(120, 120, 133, 1);   
}

/* Featured Section */
.featured{
    max-width: 1110px;
    margin: 0 auto;
}
.featured-container{
    margin-top: 100px;
    display: flex;
    gap: 96px;
    align-items: center;
    /* border: 1px solid salmon; */
}
.featured-text{
    max-width: 610px;
    /* border: 1px solid blue; */

}
.featured-title{
    font-size: 2.3rem;
    font-weight: 700;
    color: #0A0826;
    margin-top: 0;
    margin-bottom: 16px;
}
.featured-description{
    margin-top: 0;
    font-size: 1rem;
    font-weight: 700;
    line-height: 28px;
    color: #6C6C6C;
    margin-bottom: 16px;
}
.join-now{
    background-color: #E02C6D;
    color: white;
    font-size: 1rem;
    font-weight: 700;
    padding: 10px 24px;
    border: none;
    cursor: pointer;
}
.join-now:hover{
    background-color: #ff0862;
    box-shadow: 2px 5px 10px rgb(98, 94, 94);
}


/* Mobile Responsive */
@media screen and (max-width: 576px) {
    .navbar, .nav-links{
        flex-direction: column;
    }
    .hero, .featured-container{
        flex-direction: column-reverse;
        gap: 10px;
    }
    .hero-text, .hero-title{
        width: 100%;
    }
    .hero-image, .hologram, .camera{
        margin-top: 20px;
        width: 100%;
    }
    .cards-container{
        grid-template-columns: 1fr;
    }
    .featured-container{
        text-align: center;
    }
    .join-now{
        margin-bottom: 30px;
    }
    /* .sponsors{
        grid-template-columns: repeat(2, 1fr);
    } */

}